.navbar {
    background-color: rgba(40, 167, 70, 0.26);
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.747);
}

.center-content {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.filterTitle {
    text-decoration: underline;
}

@media (min-width: 992px) {
    .NavBarButtonAndSearch {
        display: flex; 
        align-items: center; 
    }

    .NavBarInput {
        flex: 1; 
        margin-right: 10px; 
    }

    .SearchBarAndFilterWrapper {
        display: flex;
        align-items: center;
    }

    .NavBarInput {
        flex: 1;
        margin-right: 10px;
    }

    .FilterMoviesButton {
        margin-left: 10px;
    }
}

@media (max-width: 991.99px) {
    .NavBarButtonAndSearch {
        margin-bottom: 10px;
        width: 35%;
    }

    .searchButton {
        margin-top: 10px;
    }

    .FilterMoviesButton {
        width: 20%;
    }
}

@media (max-width: 767px) {
    .FilterMoviesButton {
        width: 30%;
    }
}

@media (max-width: 432px) {
    .FilterMoviesButton {
        width: 35%;
    }
}

@media (max-width: 376px) {
    .FilterMoviesButton {
        width: 45%;
    }
}

@media (max-width: 303px) {
    .FilterMoviesButton {
        width: 50%;
    }
}

