.styling-position {
    text-align: center;
    margin-bottom: 20px;
}

.bordersUserInfo {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.bordersUserUpdate {
    border-bottom: 1px solid black;
}

.bordersUserDelete {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.label {
    width: 100%;
}

.inputField {
    width: 65%;
}

.update-button {
    margin-top: 20px;
    margin-bottom: 25px;
    width: 30%;
}

.delete-button {
    margin-bottom: 25px;
}

.button-container {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

@media (max-width: 991.98px) {
    .bordersUserInfo {
        border-bottom: 1px solid black;
        border-right: none;
    }
    
    .bordersUserUpdate {
        border-bottom: 1px solid black;
    }
    
    .bordersUserDelete {
        border-bottom: 1px solid black;
        border-left: none;
    }
  }