.TitleDisplay {
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: center;
}

.SignupButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 25px;
  }

.Styling {
  height: 100vh; 
}

