.TitleDisplay {
    margin-bottom: 25px;
    text-align: center;
}

.formGroupWithMargin {
    margin-bottom: 20px;
  }

.SignupButtonContainer {
    display: flex;
    justify-content: center;
  }

.SignupButton {
    margin-top: 25px;
    margin-bottom: 25px;
}