.TitleDisplay {
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: center;
}

.formGroupWithMargin {
margin-bottom: 20px;
}

.SignupButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 25px;
  }

  //***Test

