.formGroupStyling {
    margin-bottom: 20px;
  }

  .TitleDisplay {
    border-bottom: 1px solid black;
  }

.LoginButtonContainer {
    display: flex;
    justify-content: center;
  }

.LoginButton {
    margin-top: 20px;
    margin-bottom: 25px;
}

.form-container {
  border-color: 1px solid black;
}
