.TitleDisplay {
    margin-bottom: 25px;
    text-align: center;
}

.formGroupStyling {
    margin-bottom: 20px;
  }

.LoginButtonContainer {
    display: flex;
    justify-content: center;
  }

.LoginButton {
    margin-top: 25px;
    margin-bottom: 25px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; /* This ensures the container takes the full viewport height */
}
