//***While bootstrap/dist/css/bootstrap.min.css in index.jsx is used at first to provides the default Bootstrap styles without any customization, this link is eventually removed and replaced by the link below (bootstrap/scss/bootstrap.scss into index.scss) to allow modification of Bootstrap's Sass variables to customize the styles (the link allows customization, since the one on index.jsx doesnt allow this).
@import '~bootstrap/scss/bootstrap.scss';


.styling {
    background-color: rgb(235, 235, 235);
  }
  

  .styling {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }